/* colors */

$line_black: #252525;
$white: #fff;
$font_black: #040404;
$font_light_black: #515151;
$yellow: #ffde00;
$grey: #cdcdcd;

/* window sizes */

$width-xlarge: 1200px;
$width-large: 992px;
$width-middle: 768px;



.mt30 {
  margin-top: 30px !important;
}